/* styles.css -hoja de stilo*/

/* Estilo para la cabecera de la tabla */

table {
	font-size: 14px;
}

:root {
	--fuentePrimaria: 'Inter', sans-serif;
}

body, html {
	font-family: var(--fuentePrimaria);
	height: 100%;	
}

h2 {
	font-size: 28px; 
}

h3 {
	font-size: 26px; 
}

/* Login */

.body-login {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: var(--fuentePrimaria);
}

.login-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.image-container-login {
    width: 70%;
    position: relative;
    overflow: hidden;
    background-image: url('../images/hb.png');
    background-size: cover;
    background-position: center;
    padding: 20px; /* Espacio interior */
}

.background-layer {
	witdh: 100%;
	position: top;
    background-image: url('../images/bk-pgbk.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.image-container-login::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
}

.image-container-login h2 {
    margin: 0;
    text-align: left;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 60px;
    width: calc(100% - 40px);
    z-index: 1;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image-container-login .sub {
    font-weight: 200;
    bottom: 70px;
}

.form-container-login {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

/* General */

a {
	text-decoration: none;
}

.title {
	font-size: 24px;
	font-weight: 700;
}

.titleBienvenida {
	font-weight: 800;
}

.userProfile {
	font-size: 18px;
	font-weight: 700;
}

.card-accesos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 140px;
	height: 140px;
	border: 1px solid gray;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background-color: white;
}

.card-background {
	background-image: url('../images/Back-Cards.jpg');
    background-size: cover;
    background-position: center;
}

.card-accesos p {
	text-align: center;
}

.card-accesos:hover {
	background-color: #e9ecef;
}

.card-accesos p {
	margin: 0;
}

.footer {
	flex-shrink: 0;
	height: 50px;
}

.dataTables_wrapper .dataTables_filter {
     float: none;
	text-align: right; /* Alinea el buscador a la derecha */
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .5rem 1rem; /* Añade padding para estilizar los botones */
}

.container--main {
	flex: 1;
	display: flex;
	flex-direction:column;
}

.main--main {
	flex: 1;
	display: flex;
	flex-direction:column;
}