/* styles.css -hoja de stilo*/

/* Estilo para la cabecera de la tabla */

:root {
	--fuentePrimaria: 'Inter', sans-serif;
}

body {
	font-family: var(--fuentePrimaria);
}

.title {
	font-size: 24px;
	font-weight: 700;
}

.container--main {
	min-height: 505px;
}

.titleBienvenida {
	font-weight: 800;
}

.userProfile {
	font-size: 18px;
	font-weight: 700;
}